<div class="container">
  <h1>Restaurants</h1>
  <p>Pick by cuisine</p>
  <p>  <%= link_to 'French only', french_restaurants_path, class: "btn btn-outline-primary" %>
  <%= link_to 'Italian only', italian_restaurants_path, class: "btn btn-outline-danger" %>
  <%= link_to 'Chinese only', chinese_restaurants_path, class: "btn btn-outline-warning" %>
  <%= link_to 'Japanese only', japanese_restaurants_path, class: "btn btn-outline-secondary" %>
  <%= link_to 'Belgian only', belgian_restaurants_path, class: "btn btn-outline-info" %>
  </p>
  <hr>
  <p>  <%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-outline-dark "%></p>
  <table class='table table-bordered table-hover'>
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.phone_number %></td>
          <td><%= restaurant.category %></td>
          <td><%= link_to 'Show', restaurant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <p>  <%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-outline-dark btn-lg"%></p>
</div>
